body {
  background: #000;
}

body, .docs-wrap, .inner-wrap, .main-section, .main-section > .row {
  height: 100%;
}

.main-section {
  overflow: auto;
}

.content {
  min-height: 100%;
  background: #fff;
}

/* volumn information section */
.content .volumns {
  background: #fff;
}

.content .volumns span {
  font-size: 12px;
}
