ul.nav-options li {
  display: block;
  border-bottom: 1px solid #444;
}

ul.nav-options li a {
  color: #fff;
}

ul.nav-options li ul {
  background: #333;
}

ul.nav-options li i[class^="fi"],
ul.nav-options li span {
  font-size: 2em;
}

ul.nav-options li span {
  margin: 5px;
}
ul.nav-options li.active {
  background: #008CBA;
  color: #FFFFFF;
}

ul.nav-options li:last-child {
  border-bottom: none;
}

ul.nav-options .nav-options-functional {
  margin: auto;
}

ul.nav-options .nav-options-functional > li {
  border: none;
  width: 50px;
  margin: auto;
  text-align: center;
}

ul.nav-options .fi-power {
  color: #FF8000;
}

ul.nav-options .has-tip {
  border-bottom: inherit;
  cursor: auto;
}

@media only screen and (min-width: 64.063em) {

  .left-off-canvas-menu {
    transition: inherit;
    -webkit-transform: inherit;
    transform: inherit;
    overflow: visible;
    width: 50px;
    height: 100%;
    line-height: 50px;
    left: -50px;
  }

  .container {
    position: relative;
  }

  .nav-options {
    margin: auto;
  }

  .nav-options li {
    width: 50px;
    margin: auto;
    text-align: center;
  }

  .nav-options li:not(.active):hover {
    background: #555;
  }

  .nav-options li.active:hover {
    background: #009DCB;
  }

  .nav-options li.has-dropdown {
    position: relative;
    height: 50px;
  }

  .nav-options li.has-dropdown:hover > .dropdown,
  .nav-options li.has-dropdown.not-click:hover > .dropdown {
    display: block;
    visibility: visible;
    position: absolute !important;
  }

  ul.dropdown {
    visibility: hidden;
    position: absolute !important;
    left: 100% !important;
    top: 0px;
    border-left: 1px solid #444;
    width: 200px;
  }

  ul.dropdown li {
    background: #333333;
    width: 100%;
    line-height: 50px;
    height: 50px;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
  }

  ul.dropdown > a:after {
    top: 45%;
    border-left: 4px solid #aaa;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}
